/*--- CSS3 style ---*/

/*--- Use only for CSS3 styles  ---*/
a,
button,
.btn,
.search-button,
.menu-arrow,
#header,
.feature-thumbnail:after,
.feature-thumbnail .caption{
	-webkit-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

#header a{
	-webkit-transition:color 0.3s ease-in-out,background-color 0.3s ease-in-out;
	-moz-transition:color 0.3s ease-in-out,background-color 0.3s ease-in-out;
	-o-transition:color 0.3s ease-in-out,background-color 0.3s ease-in-out;
	transition:color 0.3s ease-in-out,background-color 0.3s ease-in-out;
}

#get-in-touch .call-us::before{ 
transform:rotate(25deg);
-webkit-transform:rotate(25deg);
-ms-transform:rotate(25deg);
-moz-transform:rotate(25deg);
-o-transform:rotate(25deg);
}
#footer .social-links li a{
transition:all 0.5s ease-in-out 0s;
-webkit-transition:all 0.5s ease-in-out 0s;
-moz-transition:all 0.5s ease-in-out 0s;
-o-transition:all 0.5s ease-in-out 0s;
transform: scale(1);
-webkit-transform:scale(1);
-ms-transform:scale(1);
-moz-transform:scale(1);
-o-transform:scale(1);
}
#footer .social-links li a:hover{
transform: scale(1.1);
-webkit-transform:scale(1.1);
-ms-transform:scale(1.1);
-moz-transform:scale(1.1);
-o-transform:scale(1.1);
}
#about-agent .agent-info{
transform:translateY(-50%);
-webkit-transform:translateY(-50%);
-ms-transform:translateY(-50%);
-moz-transform:translateY(-50%);
-o-transform:translateY(-50%);
}
.navbar .search-box:before{ 
transform: skewX(-28deg);
-ms-transform:skewX(-28deg);
-moz-transform:skewX(-28deg);
-o-transform:skewX(-28deg);
-webkit-transform:skewX(-28deg);
}


.client-feedback .client-detail .img{
box-shadow: 0 0 2px 1px rgba(68,18,8,0.19);
-webkit-box-shadow:0 0 2px 1px rgba(68,18,8,0.19);
-o-box-shadow:0 0 2px 1px rgba(68,18,8,0.19);
-moz-box-shadow:0 0 2px 1px rgba(68,18,8,0.19));
}

#header.sticky-header{
	-webkit-box-shadow:0 3px 7px #ccc;
	-moz-box-shadow:0 3px 7px #ccc;
	-o-box-shadow:0 3px 7px #ccc;
	box-shadow:0 3px 7px #ccc;
}

.navbar-form .form-control{
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
}
.header-search-form .navbar-form .btn,
.banner-searchbar .btn{
	-webkit-border-radius:0 3px 3px 0;
	-moz-border-radius:0 3px 3px 0;
	-o-border-radius:0 3px 3px 0;
	border-radius:0 3px 3px 0;
}

.navbar-toggle,
#nav .dropdown-menu{
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-o-border-radius:0;
	border-radius:0;
}

.active>.menu-arrow{
	-webkit-transform:rotate(-180deg);
	-moz-transform:rotate(-180deg);
	-o-transform:rotate(-180deg);
	transform:rotate(-180deg);
}

.curved::before {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 30px rgba(22, 22, 22, 0.7);
	-moz-box-shadow: 0 0 30px rgba(22, 22, 22, 0.7);
	-o-box-shadow: 0 0 30px rgba(22, 22, 22, 0.7);
    box-shadow: 0 0 30px rgba(22, 22, 22, 0.7);
}

.border>div>span{
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
}

.feature-thumbnail:hover .caption{
	-webkit-transform:translateY(50%);
	-moz-transform:translateY(50%);
	-o-transform:translateY(50%);
	transform:translateY(50%);
}
#services .img:before{ 
transform: skewX(-22deg);
-moz-transform:skewX(-22deg);
-o-transform:skewX(-22deg);
transform:skewX(-22deg);
}