@charset 'UTF-8';
/* Slider */

 
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    /*font-family: 'slick';*/
	font-family:'FontAwesome';
    font-size: 36px;
    line-height:18px;
    color:#434754;

   
}

.slick-prev
{
    left: -40px;
}
[dir='rtl'] .slick-prev
{
    right: -40px;
    left: auto;
}
.slick-prev:before
{
    content:"\f104";
}
[dir='rtl'] .slick-prev:before
{
    content:"\f105";
}

.slick-next
{
    right: -40px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -40px;
}
.slick-next:before
{
    content:"\f105"
}
[dir='rtl'] .slick-next:before
{
    content:"\f104"
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom:20px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 12px;
    height: 12px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 12px;
    height: 12px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 1px solid #3d414c;
    outline: none;
    background: transparent; border-radius:50%;
}
.white-color .slick-dots li button{ border-color:#fff;}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    /*font-family: 'slick';*/
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 12px;
    height: 12px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	display:none;
}
.slick-dots li.slick-active button,
.slick-dots li:hover button{ background:goldenrod; border-color:black;}
.white-color .slick-dots li.slick-active button,
.white-color .slick-dots li:hover button{ background:#fff; border-color:#fff;}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
@media (max-width: 1299px) {

.slick-prev
{
    left: -20px;
}
[dir='rtl'] .slick-prev
{
    right: -20px;
}
.slick-next
{
    right: -20px;
}
[dir='rtl'] .slick-next
{
    left: -20px;
}
}
@media (max-width: 1199px) {
.slick-slider{padding:0 20px;}
.slick-prev
{
    left: 0px;
}
[dir='rtl'] .slick-prev
{
    right: 0px;
}
.slick-next
{
    right: 0px;
}
[dir='rtl'] .slick-next
{
    left: 0px;
}
}